[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
entrypoints = "*"
ipython = "*"
jsonschema = "*"
numpy = "*"
pandas = "*"
pytest = "*"
six = "*"
toolz = "*"
vega_datasets = "*"
"flake8" = "*"
pyflakes = "*"

[dev-packages]

[requires]
python_version = "3.6"
