.wy-nav-side p.caption {
  color: #F5F5F5;
}

div.wy-side-nav-search {
  background: #757575;
}

div.wy-side-nay {
  background: #212121;
}

table.field-list td li {
  line-height: 18px;
}

table.docutils td p {
  font-size: 14px !important;
  margin-bottom: 6px;

}

table.docutils td li {
  line-height: 18px;

}

table td.vl-type-def {
  max-width: 170px;
  overflow-x: clip;
}

.bd-sidebar-primary {
  max-width: 20%
}

/* Use full page width without sidebars */
/* .bd-content { */
/*   max-width: 100%; */
/*   flex-grow: 1; */
/* } */
