name: docbuild

on: [push, pull_request]

env:
  UV_SYSTEM_PYTHON: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install uv
      uses: astral-sh/setup-uv@v4
    - name: Install dependencies
      run: uv pip install -e ".[dev, all, doc]"
    - name: Run doc:build-html
      run: |
        mkdir -p doc/_images
        uv run sphinx-build -b html -d doc/_build/doctrees --jobs doc doc/_build/html
    - name: Run doc:doctest
      run: |
        uv run sphinx-build -b doctest -d doc/_build/doctrees doc doc/_build/doctest

        
