name: lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: ruff-mypy
    steps:
    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - uses: actions/checkout@v5
    - name: Install uv
      uses: astral-sh/setup-uv@v6
      with:
        enable-cache: true
        cache-dependency-glob: |
          **/uv.lock
          **/pyproject.toml
    # Installing all dependencies and not just the linters as mypy needs them for type checking
    - name: Install dependencies
      run: uv sync --all-extras
    - name: ruff check (lint)
      run: |        
        uv run ruff check
    - name: ruff format
      run: |
        uv run ruff format --check --diff
    - name: mypy (type check)
      run: |
        uv run mypy altair tests
