name: lint

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: ruff-mypy
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    # Installing all dependencies and not just the linters as mypy needs them for type checking
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install uv
        uv venv
        uv pip install ".[all, dev]"
        source .venv/bin/activate
    - name: Lint with ruff
      run: |        
        ruff check .        
    - name: Check formatting with ruff
      run: |
        ruff format --diff .
        ruff format --check .
    - name: Lint with mypy
      run: |
        mypy altair tests
